<!DOCTYPE html>
<html>
  <head>
    <title>カレー味のうんち</title>
    <meta name="description" content="カレー味のうんちは答えがちょうど50対50になるような究極の選択の作成を目指すWEBサービスです">
    <meta name="keywords" content="究極の選択,究極の質問,カレー味のうんち,カレー味のうんこ,うんこ味のカレー,うんち味のカレー,50対50">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%# Font Awesome用の設定 %>
    <link href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" rel="stylesheet">

    <meta name="google-site-verification" content="VrqgBQKGEf_s3_UClS4_khl4m6yItmHfk1aGVFkAMu4" />
  </head>

  <body>
    <%= render("layouts/header") %>
    <%= render("layouts/flash_messages") %>

    <div class="background">
        <%= yield %>
      </div>
    </div>

    <%= render("layouts/footer") %>
  </body>
</html>
